.ourServices {
    margin-top: 100px;
}

.serviceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partnerHeader {
    text-align: center;
}

.highlight {
    color: var(--color-primary);
}

.managedServiceCard {
    display: flex;
    align-items: center;
    background-color: #2f0000;
    border: 1px solid #720004;
    border-radius: 12px;
    padding: 60px 120px;
    color: #fff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.10);
    position: relative;
    gap: 60px;
    /* margin-bottom: 60px; */
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    /* or adjust timing */
    will-change: transform;
}

.iconSection {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 180px;
  height: 180px; */
}

.icon {
    width: 210px;
    /* height: 210px; */
}

.contentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number {
    font-size: 110px;
    font-weight: 700;
    line-height: 110px;
    background: linear-gradient(180deg, #860000 -65.25%, #46070A 82.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* For Firefox */
    color: transparent;
}


.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #fff;
    z-index: 1;
    position: relative;
}

.description {
    font-size: 14px;
    color: #BEBBBB;
    font-weight: 500;
    z-index: 1;
    position: relative;
    max-width: 560px;
}

@media (max-width: 768px) {

    .managedServiceCard {
        padding: 40px;
    }

     .icon {
        width: 120px;
    }

     .number {
        font-size: 80px;
        line-height: 1;
    }
}


@media (max-width: 480px) {

    .ourServices {
        margin-top: 60px;
    }

    .badge {
        gap: 8px;
        padding: 8px 12px;
        font-size: 10px;
    }

    .managedServiceCard {
        padding: 20px;
        gap: 12px;
        margin-bottom: 40px;
    }

    .icon {
        width: 100px;
    }

    .number {
        font-size: 60px;
        line-height: 1;
    }

    .title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .description {
        font-size: 12px;
    }
}