.metrics {
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(70, 7, 10, 0.4);
    border: 1px solid #720004;
    padding: 24px;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card:hover {
    background: rgba(70, 7, 10, 0.4);
    border-color: #e41f26;
    box-shadow: 0px 0px 20px rgba(228, 31, 38, 0.5);
    transform: translateY(-4px);
}

.statsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    margin-bottom: 60px;
}

.statIcon {
    height: 30px;
}

.statNumber {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-primary);
}

.statLabel {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 768px) {
    .statsGrid {
        grid-template-columns: 1fr 1fr;
        gap: 28px;
        margin-bottom: 50px;
    }

    .statIcon {
        height: 30px;
    }

    .statNumber {
        font-size: 36px;
    }

    .statLabel {
        font-size: 15px;
    }
}

@media (max-width: 480px) {

    .metrics {
        margin-top: 20px;
    }

    .statsGrid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-bottom: 24px;
    }

    .statIcon {
        height: 24px;
    }

    .statNumber {
        font-size: 20px;
    }

    .statLabel {
        font-size: 12px;
    }

    .card {
        padding: 20px 12px;
    }


}