.testimonials {
    margin-top: 100px;
}

.testimonialsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partnerHeader {
    text-align: center;
}


.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-white);
    border-radius: 55px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 2px 8px rgba(228, 31, 38, 0.10);
}

.highlight {
    color: var(--color-primary);
}

.testimonialsCards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 80px;
}

.card {
    background-color: #2f0000 !important;
    border: 1px solid #720004 !important;
}



.card {
    flex: 1;
    /* background: linear-gradient(136.71deg, rgba(67, 67, 67, 0.86) -24.05%, rgba(0, 0, 0, 0) 115.5%);
    backdrop-filter: blur(7.91175px);
    box-shadow: 0 3px 16px 0 #1a202a19; */
    border-radius: 12px !important;
    padding: 40px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 310px;
    background: radial-gradient(112.5% 111.22% at 104.39% 0%, rgba(179, 0, 8, 0.6) 0%, rgba(69, 0, 2, 0.6) 100%)
}


/* .card::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 0.9;
    background-image: url('../../assets/texture.png');
    background-size: cover;
    background-repeat: repeat;
    border-radius: inherit;
    top: -10px;
} */

.quoteMark {
    font-size: 60px;
    line-height: 10px;
    color: var(--color-white);
    opacity: 0.55;
}

.text {
    font-size: 16px;
    color: var(--color-white);
    line-height: 1.5;
    margin-bottom: 60px;
    margin-top: 14px;
    font-weight: 400;
}

.cardFooter {
    display: flex;
    align-items: center;
    gap: 18px;
}

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 0;
}

.name {
    font-weight: 700;
    color: var(--color-white);
    font-size: 18px;
}

.title {
    color: #ddd;
    font-size: 16px;
    margin-top: 2px;
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
    .testimonials {
        margin-top: 60px;
    }

    .testimonialsCards {
        display: flex;
        flex-direction: row;
        gap: 24px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .testimonialsCards::-webkit-scrollbar {
        display: none;
    }

    .card {
        flex: 0 0 auto;
        scroll-snap-align: start;
        padding: 24px;
        width: 100%;
    }

    .quoteMark {
        line-height: 10px;
        margin-top: 10px;
    }

    .text {
        font-size: 14px;
        margin-bottom: 24px;
        margin-top: 12px;
    }

    .name {
        font-size: 14px;
    }

    .title {
        font-size: 12px;
    }
}