.Partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 24px 0px;
    position: relative;
}

.partnersContainer {
    display: flex;
    align-items: center;
}

.Partners .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(228, 31, 38, 0.4) 0%, rgba(7, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 0;
}

.partnerHeading h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--color-white);
    z-index: 1;
    position: relative;
}

.partnerHeading {
    max-width: 200px;
}


.partnerStripWrap {
    z-index: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 8px 0;
    mask-image: linear-gradient(to right, transparent 0, black 6%, black 94%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 6%, black 94%, transparent 100%);
}

.partnerStripTrack {
    display: flex;
    width: max-content;
    will-change: transform;
    animation: partnerStripScroll 28s linear infinite;
    gap: 40px
}

.partnerStripWrap:hover .partnerStripTrack {
    animation-play-state: paused;
}

.partnerStripImg {
    height: 40px;
    width: auto;
    display: block;
}

@keyframes partnerStripScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


@media (max-width: 768px) {
    .partnerStripWrap {
        margin: 0 auto 0px;
    }

    .partnerStripImg {
        height: 36px;
    }

}

@media (max-width: 480px) {

    .Partners {
        margin-top: 30px;
    }

    .partnersContainer{
        flex-direction: column;
    }

    .partnerHeading{
        text-align: center;
    }

    .partnerStripWrap {
        margin: 12px auto;
    }

    .partnerStripImg {
        height: 28px;
    }

}