.ourProducts {
  margin-top: 140px;
}

.partnerHeader {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--color-white);
  border-radius: 55px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(228, 31, 38, 0.10);
}

.highlight {
  color: var(--color-primary);
}

.panelContainer {
  position: relative;
  width: 100%;
  height: 40vh;
  min-height: 732px;
}

.panel {
  background: #570000;
  z-index: 2;
  top: 0;
  bottom: 0;
  position: absolute;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerText {
  position: absolute;
  left: 50%;
  width: 100%;
  z-index: 3;
}


.sectionTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.sectionSubtitle {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

.products {
  background: #570000;
  z-index: 4;
  position: relative;
}

.productsContainer {
  display: flex;
  flex-direction: column;
}

.productRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  gap: 50px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.productsTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-white);
  margin-bottom: 20px;
}

.productsDesc {
  font-size: 16px;
  color: var(--color-white);
  line-height: 1.5;
}

.productsImage {
  width: 100%;
  max-width: 600px;
  margin: 40px 0;
}

.productsTags {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.productsTags span {
  background: #111111;
  border: 1px solid #4C4C4C;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
}


.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  min-width: 180px;
  box-sizing: border-box;
  border: none;
  position: relative;
  border: 1px solid rgba(228, 31, 38, 0.25);
  position: relative;
}

.partner .background {
  position: absolute;
  opacity: 0.4;
}

.partner p {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}

.box1 {
  aspect-ratio: 1;
  pointer-events: none;
  height: 16%;
  width: var(--framer-aspect-ratio-supported, 14px);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.box1::after {
  content: "";
  box-sizing: border-box;
  border-radius: inherit;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  border-top: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
}


.box2 {
  aspect-ratio: 1;
  pointer-events: none;
  height: 16%;
  width: var(--framer-aspect-ratio-supported, 14px);
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.box2::after {
  content: "";
  box-sizing: border-box;
  border-radius: inherit;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  border-top: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
}


.box3 {
  aspect-ratio: 1;
  pointer-events: none;
  height: 16%;
  width: var(--framer-aspect-ratio-supported, 14px);
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.box3::after {
  content: "";
  box-sizing: border-box;
  border-radius: inherit;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
}


.box4 {
  aspect-ratio: 1;
  pointer-events: none;
  height: 16%;
  width: var(--framer-aspect-ratio-supported, 14px);
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.box4::after {
  content: "";
  box-sizing: border-box;
  border-radius: inherit;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
}

.verticalLine {
  border: none;
  border-left: 1.5px solid var(--color-primary);
  height: auto;
  width: 0;
  margin: 0 28px;
  flex-shrink: 0;
}

@media (max-width: 768px) {

  .productRow {
    margin-bottom: 60px;
    gap: 0;

  }

  .productsTitle {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .productsDesc {
    font-size: 16px;
  }

  .productsImage {
    width: 360px;
    margin: 24px 0;
  }

  .productsTags {
    margin-bottom: 24px;
    gap: 8px;
  }

   .productsTags span {
    font-size: 12px;
  }

   .partner {
    min-height: 80px;
  }

  .partner p {
    padding: 0 10px;
    font-size: 12px;
  }

}

@media (max-width: 480px) {
  .ourProducts {
    margin-top: 60px;
  }

  .sectionTitle {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .sectionSubtitle {
    font-size: 14px;
  }


  .panelContainer {
    /* height: 30vh; */
    min-height: 620px;
  }

  .productRow {
    margin-bottom: 60px;
    gap: 24px;
    flex-direction: column;
    /* text-align: center; */
  }

  .left {
    align-items: center;
  }

  .productsTitle {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .productsDesc {
    font-size: 14px;
    text-align: center;
  }

  .productsImage {
    margin: 24px 0;
  }

  .productsTags {
    margin-bottom: 24px;
    gap: 8px;
  }

  .productsTags span {
    font-size: 12px;
    text-align: center;
  }

  .partner {
    min-height: 60px;
  }

  .partner p {
    padding: 0 10px;
    font-size: 12px;
    text-align: center;
  }
}