.resources {
    margin-top: 140px;
}

.resourcesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.partnerHeader {
    text-align: center;
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-white);
    border-radius: 55px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 2px 8px rgba(228, 31, 38, 0.10);
}

.highlight {
    color: var(--color-primary);
}

.resourcesCard {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.mainCard {
    flex: 1;
    background-color: #2f0000;
    border: 1px solid #720004;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.mainCard img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.readTime {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0;
}

.cardTitle {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
}

.description {
    font-size: 16px;
    margin: 12px 0;
}

.dateText {
    font-size: 14px;
    color: #4C4C4C;
}

.cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 350px;
}

/* .card {
    background-color: #2f0000;
    border: 1px solid #720004;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap:24px;
} */

.card {
    background-color: #2f0000;
    border: 1px solid #720004;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.card > div:first-child {
    width: 149px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
/* 
.card img {
    height: 80px;
    width: 110px;
    object-fit: cover;
    border-radius: 10px;
} */

.card h4 {
   font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.card .readTime {
    margin: 4px 0;
}

.card .dateText {
    margin: 0;
    font-size: 16px;
}