.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    position: relative;
}

.heroContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 120px;
}

.hero .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(228, 31, 38, 0.3);
    filter: blur(250px);
    pointer-events: none;
    z-index: 0;
}

/* .hero .background {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(228, 31, 38, 0.3);
  backdrop-filter: blur(50px);
  filter: blur(250px);
  pointer-events: none;
  z-index: 0;
} */

.content {
    max-width: 700px;
    z-index: 1;
    position: relative;
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-white);
    border-radius: 55px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 2px 8px rgba(228, 31, 38, 0.10);
}

.heading {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 50px;
    letter-spacing: -1px;
    color: var(--color-white);
}

.heading .textHeading span:nth-child(3),
.heading .textHeading span:nth-child(6) {
    color: var(--color-primary);
}

.highlight {
    color: var(--color-primary);
}

.actions {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.globe {
    z-index: 1;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        /* padding: 40px 12px; */
    }

    .content {
        margin-bottom: 20px;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .hero {
        flex-direction: column;
        text-align: center;
        /* padding: 30px 8px; */
    }

    .hero .background {
        -webkit-backdrop-filter: blur(50px) !important;
    }

    .heroContainer {
        flex-direction: column;
        padding-top: 100px;
    }

    .badge {
        gap: 8px;
        padding: 8px 12px;
        font-size: 10px;
    }

    .heading {
        font-size: 40px;
        margin-bottom: 24px;
        margin-top: 10px;
    }

    .actions {
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
    }
}