.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    position: relative;
}

.heroContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 160px;
}

.hero .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(228, 31, 38, 0.3);
    filter: blur(250px);
    pointer-events: none;
    z-index: 0;
}

.content {
    max-width: 700px;
    z-index: 1;
    position: relative;
}

.heading {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 50px;
    letter-spacing: -1px;
    color: var(--color-white);
}

.heading .textHeading span:nth-child(3),
.heading .textHeading span:nth-child(6) {
    color: var(--color-primary);
}

.highlight {
    color: var(--color-primary);
}

.actions {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.globe {
    z-index: 1;
}

.map {
    position: relative;
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.trustMapImg {
    width: 400px;
    object-fit: contain;
    filter: drop-shadow(0 12px 24px rgba(0, 0, 0, 0.35));
}

.mapPin {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    background: #e41f26;
    transform: translate(-50%, -50%);
    cursor: pointer;
    outline: none;
    animation: ripple 0.6s linear infinite;
    border-radius: 50px;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(var(--color-primary-rgb), 0.1),
            0 0 0 10px rgba(var(--color-primary-rgb), 0.1),
            0 0 0 20px rgba(var(--color-primary-rgb), 0.1),
            0 0 0 30px rgba(var(--color-primary-rgb), 0.1);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(var(--color-primary-rgb), 0.1),
            0 0 0 20px rgba(var(--color-primary-rgb), 0.1),
            0 0 0 30px rgba(var(--color-primary-rgb), 0.1),
            0 0 0 40px rgba(var(--color-primary-rgb), 0);
    }
}


.mapPin:hover {
    box-shadow: 0 0 0 8px rgba(228, 31, 38, 0.35), 0 4px 14px rgba(0, 0, 0, .25);
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        /* padding: 40px 12px; */
    }

    .content {
        flex: 1;
    }

    .globe {
        flex: 1;
    }

    .content {
        margin-bottom: 40px;
        max-width: 100%;
        text-align: left;
    }

    .heading {
        font-size: 43px;
        margin-bottom: 24px;
        margin-top: 10px;
        line-height: 54px;
    }

    .mapPin {
        width: 24px;
        height: 24px;
        border-width: 3px;
        box-shadow: 0 0 0 5px rgba(228, 31, 38, 0.22);
    }
}

@media (max-width: 480px) {
    .hero {
        flex-direction: column;
        text-align: center;
        /* padding: 30px 8px; */
    }

    .hero .background {
        -webkit-backdrop-filter: blur(50px) !important;
    }

    .heroContainer {
        flex-direction: column;
        padding-top: 100px;
    }

    .badge {
        gap: 8px;
        padding: 8px 12px;
        font-size: 10px;
    }

    .heading {
        font-size: 40px;
        margin-bottom: 24px;
        margin-top: 10px;
    }

    .actions {
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
    }

    .content {
        text-align: center;
    }

    .mapPin {
        width: 15px;
        height: 15px;
        border-width: 2px;
        box-shadow: 0 0 0 4px rgba(228, 31, 38, 0.2);
    }

    .trustMapImg {
        width: 300px;
    }
}