/* .tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
} */

.tilted-card-figure {
  position: relative;
  width: 100%;
  max-width: 650px;
  aspect-ratio: 16 / 9; /* Maintain ratio */
  margin: 24px auto;
  perspective: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tilted-card-mobile-alert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
}

@media (max-width: 640px) {
  .tilted-card-mobile-alert {
    display: block;
  }
  .tilted-card-caption {
    display: none;
  }
}

/* .tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
}

.tilted-card-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  will-change: transform;
  transform: translateZ(0);
} */

.tilted-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.tilted-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tilted-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: transform;
  transform: translateZ(30px);
}

.tilted-card-caption {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 10px;
  color: #2d2d2d;
  opacity: 0;
  z-index: 3;
}

@media (max-width: 1024px) {
  .tilted-card-figure {
    max-width: 90vw;
    aspect-ratio: 16/9;
  }
}
@media (max-width: 768px) {
  .tilted-card-figure {
    max-width: 95vw;
    aspect-ratio: 16/9;
  }
}
@media (max-width: 480px) {
  .tilted-card-figure {
    max-width: 100vw;
    aspect-ratio: 16/9;
  }
}

/* @media (max-width: 768px) {
  .tilted-card-figure {
    height: 190px !important;
  }

  .tilted-card-img,
  .tilted-card-inner {
    width: 379px !important;
    height: 190px !important;
  }
}

@media (max-width: 480px) {
  .tilted-card-img,
  .tilted-card-inner {
    width: 360px !important;
    height: 176px !important;
  }
} */

