.footer{
    margin: 60px 0 30px 0;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoImage {
  max-height: 60px;
  /* margin-bottom: 12px; */
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.footerLink {
  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s;
}

.footerLink:hover {
  color: var(--color-primary);
}

.social {
  margin-bottom: 12px;
}

.socialIcon {
  color: var(--color-white);
  display: inline-block;
  transition: color 0.2s;
}

.socialIcon:hover {
  color: var(--color-primary);
}
  
.copyright {
  color: #5C5C5C;
  font-size: 14px;
  /* margin-top: 0.5rem; */
}