.Banner {
    padding-bottom: 100px;
    /* margin-top: 140px; */
    background: #570000;
}

.partnerHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headingTitle {
    text-align: center;
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
    .Banner {
        padding-bottom: 60px;
        /* margin-top: 60px; */
    }
}