.Banner {
    padding: 100px 0;
    margin-top: 140px;
    /* background: #3B0000; */
}

.partnerHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headingTitle {
    text-align: center;
}