.Banner {
    padding: 100px 0;
    margin-top: 140px;
    /* background: #3B0000; */
}

.partnerHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headingTitle {
    text-align: center;
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
    .Banner {
        padding: 60px 0;
        margin-top: 60px;
    }
}