.canvas {
  width: 500px;
  height: 500px;
  max-width: 100%;
  aspect-ratio: 1;
  cursor: grab;
  touch-action: pan-y;
}

/* Tablet view */
@media (max-width: 768px) {
  .canvas {
    width: 360px; /* Adjust size for tablet */
    height: 360px;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .canvas {
    width: 350px; /* Adjust size for mobile */
    height: 350px;
  }
}